@tailwind base;
@tailwind components;
@tailwind utilities;


.logo-asesorias {
  /* -webkit-mask: url('/src/assets/logo.svg') no-repeat 100% 100%; */
  -webkit-mask: url('/src/assets/logo.svg') no-repeat;
  background: pink;
  background: -webkit-linear-gradient(to bottom, #22d3ee, #4f46e5);
  background: linear-gradient(to bottom, #22d3ee, #4f46e5);
  background-attachment: fixed;
  background-position: center;
}
